/* COLORS =========================

Red: #b22
Yellow: #e68d1a
Blue: #215
Gray: #696a6c
Dark:
Light:	
	
================================ */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #222;
}

a {
  color: #1a0dab;
}
a:hover,
a:focus {
  color: #215;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

hr {border-top:1px solid #ddd;}

.small, small {font-size: 75%;}

.zamboni { clear:both; height: 0;  }

.sm-icons a {
  color: #222;
}
.sm-icons a:hover,
.sm-icons a:focus {
  color: #EA0;
}

.btn { text-decoration: none !important;}

.btn-default:hover,
.btn-default:focus {
  background-color: #b22;
  border: 1px solid #b22;
  color: white;
}

.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background-color: #fff;
  color: #b22;
  border: 1px solid #b22;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #b22;
  border: 1px solid #b22;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}

/* === NAV BAR OVERRIDES === */
@media only screen and (min-width: 768px) {  
  .navbar-custom .nav li a {
    color: white;
    padding: 20px 20px 20px 0;
  }  
}

.navbar-custom .navbar-brand {font-weight: 600; text-transform: uppercase;}
a.navbar-brand em {color: #ea0; font-style: normal;}


/* === HOME === */

.home-box-rap {margin-bottom: 40px;}

.home-box h2 { font-size: 42px;}
.home-box h3 { font-weight: 100;}

.home-box-cta {background-color: #215; color: #fff; margin:40px 0;}
.home-cta {font-size: 32px; font-weight: 100;}

/* === FOOTER === */

.footer-navbar {font-size: 0.8em; margin:30px auto;}
.footer-social-links { clear: both; }

/* === INTRO HEADER === */

.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  position: relative;	
  width: 100%;
  text-align: center;
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
  min-height:100%; /* real browsers */
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 250px 0;
  }
  
  .intro-header.md-page .site-heading {
    padding: 100px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 55px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 300;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.intro-header .next-link { /*padding-top: 50px;*/ position: absolute; bottom: 20px; right:20px;  }
.intro-header .next-link a, .intro-header .next-link a:visited  { color: #fff; font-size: 0.8em; }
.intro-header .next-link a:hover  { color: #EA0; text-decoration: none; }



.lead.slide-lead { margin-bottom: 50px; }

.slide-notext {min-height: 180px;}


/* --- FLOAT R/L --- */

/* [PHONES] */
@media(max-width:767px) {
	.float-left { float:none; margin:0 20px 10px 0 !important; }
	.float-right { float:none; margin:0 0 10px 20px !important; }
	
	img.float-left { display: block; margin:20px auto !important;}
	img.float-right { display: block; margin:20px auto !important; }
}

/* [TABLETS] ++ */
@media (min-width:768px){
	.float-left { float:left; margin:0 20px 10px 0 !important; }
	.float-right { float:right; margin:0 0 10px 20px !important; }
}

/* ------- images and image styles ------- */

img.img { max-width: 100%; height: auto; }

img.img-border { padding:4px; border:1px solid #ccc; background: #fff; }

img.img-circle {
  padding: 4px;
  -webkit-border-radius: 50%; 
  border-radius: 50%; 
  -webkit-box-shadow: 0px 0px 10px rgba(52,52,52, 0.42);
  -moz-box-shadow:    0px 0px 10px rgba(52,52,52, 0.42);
  box-shadow:         0px 0px 10px rgba(52,52,52, 0.42);

}

.lead { font-size: 20px; }
/*  ≥992px [DESKTOPS] */
@media (min-width:992px){
    .lead { font-size: 28px; }
}


.fa-green { color: #b22; }
.fa-red { color: #b22; }
.fa-yellow { color: #e68d1a; }
.fa-blue { color: #215; }
.fa-gray { color: #696a6c; }

/* --- CARD COMPONENTS --- */
.card {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: #fff;		
}
.card-img {}
.card-block { padding: 1.15rem;}
.card-title { margin-top: 0; margin-bottom: 0.75rem; color: #222; font-size: 3.0rem; line-height:1.125em; font-weight: 100;}

.card-title a, .card-title a:visited, .card-title a:link { color: #222; text-decoration: none; }
.card-title a:hover, .card-title a:active { color: #222; text-decoration: underline; }

.card-text { font-size: 0.9em; }
.card-text:last-child { margin-bottom: 0; }
.card-text a, .card-text a:visited, .card-text a:link { color: #00f; text-decoration: underline }
.card-text a:hover, .card-text a:active { color: #b22; text-decoration: underline;}


/* --- CARD BLOCK VARIENTS --- */

/* light */
.card-block-light {
	background-color: #f5f5f5;
	color: #222;
	border-color: #ddd;
}		
.card-block-light .card-title { color: #222;  }
	

/* dark */
.card-block-dark {
	background-color: #696a6c;
	color: #fff;
	border-color: #696a6c;
}		
.card-block-dark .card-title { color: #fff; font-weight: normal; }
.card-block-dark .card-title a, .card-block-dark .card-title a:visited, .card-block-dark .card-title a:link { color: #fff; }
.card-block-dark .card-title a:hover, .card-block-dark .card-title a:active { color: #fff; }
.card-block-dark .card-text a, .card-block-dark .card-text a:visited, .card-block-dark .card-text a:link { color: #e68d1a; }
.card-block-dark .card-text a:hover, .card-block-dark .card-text a:active { color: #fff; }



/* --- CARD ICON --- */
		
.card-icon { 
	width:30px; 
	height:24px;
	padding-top: 4px;
	vertical-align: middle;
	font-size: 16px;
	text-align: center;
	color: #222;
	background-color: #fff;
	-webkit-border-radius: 50%; 
	border-radius: 50%; 					 
	margin:-33px auto 15px;
	position: relative;
}

.card-icon-light { color: #222; background-color: #f5f5f5; }
.card-icon-dark { color: #fff; background-color: #222; }
.card-icon-red { color: #fff; background-color: #b22; }


.card-icon-sp { display: none; } /* get's rid of the &nbsp; that we need to put in for the WYSIWYG editor to keep the icon */
		
/* --- / CARD ICON --- */