---
layout: page
description: "2016 Commission on Technology Conference"
header-img: "img/gs-blank.jpg"
---

<div class="home-box">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<p class="lead">
					The web development world is full of great dynamic content management systems like Drupal, Wordpress and SharePoint and Tyndale has used all of these for specific use cases. But they all come with ongoing maintenance costs. I will share how we have used static website generators (Jekyll) to speed up website development and cut hosting and ongoing maintenance cost.
				</p>
				<p class="text-center">
					<a href="/start/" class="btn btn-default">View The Slides</a> 
				</p>				
				
			</div>
		</div>
	</div>
</div>


