<h2><i class="fa fa-edit">&nbsp;</i>Documentation</h2>
<ul class="nav">
    <li><a href="/docs/structure">Mountain Lodge Website Structure</a></li>
    <li><a href="/docs/photos/">Managing Photos</a></li>
    <li><a href="/docs/updates/">Managing Updates</a></li>
    <li><a href="/docs/icons/">Icon Fonts</a></li>
</ul>

<h2><i class="fa fa-link">&nbsp;</i>Website Links</h2>
<ul class="nav">
    <li><a href="/mountain-lodge/">Mountain Lodge</a></li>
    <li><a href="/photos/">Photos</a></li>
    <li><a href="/updates/">Updates</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/support/">Support</a></li>
    <li><a href="/medeba/">Medeba</a></li>
</ul>