<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="footer-navbar" id="footer-navbar">
		            <ul class="list-inline text-center">
		                <li><a href="/">Home</a></li>
		                <li><a href="/start/">Slides</a> (<a href="/slide-index/">index</a>)</li>
		                <li><a href="/about/">About</a></li>		             
		                <li><a href="http://www.tyndale.ca" target="_blank">Tyndale</a></li>
		                <li><a href="#body-top">top</a> <i class="fa fa-arrow-up"></i></li>
		            </ul>
		        </div>
		        <div class="footer-social-links">
                <ul class="list-inline text-center sm-icons">
                    
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% if site.instagram_username %}
	                    <li>
	                        <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
	                            <span class="fa-stack fa-lg">
	                                <i class="fa fa-circle fa-stack-2x"></i>
	                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                            </span>
	                            <span class="sr-only">Instagram</span>
	                        </a>
	                    </li>
	                {% endif %}
                    {% if site.youtube_channel %}
                    <li>
                        <a href="https://www.youtube.com/user/{{ site.youtube_channel }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    
                  
                    
                </ul>
		        </div>
                
                <p class="copyright text-muted">
	                &copy;{{ site.time | date: '%Y' }} Andy Smith &amp; <a href="http://www.tyndale.ca/" target="_blank">Tyndale University College & Seminary</a> 
	            </p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
