---
layout: default
---

<!-- Page Header -->
<header class="intro-header md-page{% if page.pageid %} header-{{ page.pageid }}{% endif %}" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}
	                    {% else %}	                    	
	                    	{{ site.title }}
	                    {% endif %}</h1>
                    
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div id="page-content-wrap{% if page.pageid %} content-{{ page.pageid }}{% endif %}">
	<div class="container">	
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{{ content }}
			</div>
		</div>
	</div>
	
</div>

<hr>