---
layout: default
---

<!-- Post Header -->
<header class="intro-header{% if page.slideid %} {{ page.slideid }}-header{% endif %}" style="background-image: url('{{ site.baseurl }}/{% if page.slide-img %}{{ page.slide-img }}{% else %}{{ site.header-img }}{% endif %}');  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="post-heading">
                    {% if page.display-text %}
	                    
	                    <h1>{{ page.title }}</h1>
	                    {% if page.subtitle %}
	                    <h2 class="subheading">{{ page.subtitle }}</h2>
	                    {% endif %}
                    {% else %}
                    	<h1 class="sr-only sr-only-focusable">{{ page.title }}</h1>
                    	<div class="slide-notext">&nbsp;</div>
                    {% endif %}
                    
                    {% if page.next-link %}
                    <div class="next-link text-right"><a href="{{ page.next-link }}" title="View Next Slide">Next Slide &raquo;</a></div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /end Post Header -->

<!-- Post Content -->
<article>
    <div class="container">
        
        {% if page.lead %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 {% if page.slideid %} {{ page.slideid }}-lead{% endif %}">

				<p class="lead slide-lead">{{ page.lead }}</p>
				                               

            </div>
        </div>
        {% endif %}
        
        <div class="row">
            
            <div class="col-md-10 col-md-offset-1{% if page.slideid %} {{ page.slideid }}-content{% endif %}">

				
				{{ content }}

                {% if page.next-link %}
                    <div class="next-link-footer text-right">
	                    <a class="btn btn-default" href="{{ page.next-link }}" title="View Next Slide">Next Slide &raquo</a>
	                </div>
                {% endif %}
               

            </div>
        </div>
    </div>
</article>
